.go{
    color: red;
    background-color: linear-gradient(red,blue,green);
    background-size: 0px 5px;
    position: absolute;
    left: 60px;
    right: 60px;
    top: 0px;
    bottom: 0px;
    
}
.firstimg{
    border-radius:50%;
    height: 150px;
    width: 150px;
    border-color:10px red;
    
}